.loginpage-logo{
    position: relative;
    width: 100%;
    aspect-ratio: 3;
}
.loginpage-logo-image{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.loginpage-theme-input{
    margin: 30px auto;
    display: block;
}