.profile-go-back{
    width: 50px;
    margin-top: 20px;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}
.profile-go-back:hover{
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px var(--shadow-color));
}
.loader{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loader__logo{
    width: 100%;
    color: var(--primary-color);
    margin-block: 30px;
    animation: loading 5s ease-out infinite;
}
.loader__text{
    font-size: 1.5em;
    animation: loading-text 2.5s steps(16) infinite alternate;
    overflow: hidden;
    white-space: nowrap;
}
@keyframes loading {
    0%{transform: rotate(0);}
    8%{transform: rotate(-10deg);}
    75%, 100%{transform: rotate(720deg);}
}
@keyframes loading-text {
    0%{width: 0ch;}
    70%, 100%{width: 13ch;}
}